<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      
      <p>
        Leave a comment (or send me a private message) on 
        <a href="https://boardgamegeek.com/thread/2947193/introducing-spirit-island-guides">BGG</a>
        or
        <a href="https://www.reddit.com/r/spiritisland/comments/xxepb3/introducing_spirit_island_guides/">Reddit</a>.
      </p>

      </div>
      <div class="footer-col">
        
        <p>
          "Spirit Island Hub" is an unofficial website and is not affiliated with Greater Than Games, LLC. 
          All materials belong to Greater Than Games, LLC.
        </p>
        
        <p>
          The images used in the opening were created by me using files from the
          <a href="https://vassalengine.org/wiki/Module:Spirit_island">Spirit Island Vassal module</a>.
        </p>
        
        <p>
          Content is available under 
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike</a> 
          unless otherwise noted.
        </p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>
</footer>
