{% assign spirit_tag = include.spirit %}
{% assign track = include.track %}
{% assign start = include.num_uncovered | plus: 1 %}

{% assign spirit_board_data = site.data.spirits[spirit_tag].board %}
{% assign size = spirit_board_data.presence_size %}
{% assign colour = spirit_board_data.presence_colour %}
{% assign interval = spirit_board_data.interval %}
{% assign left = spirit_board_data.left %}
{% assign top = spirit_board_data[track].top %}
{% assign track_length = spirit_board_data[track].length %}

{%- for index in (start..track_length) -%}
    {% assign left_i = interval | times: index | plus: left %}
    <img
            class="presence"
            style="margin: {{- top -}}% {{- left_i -}}%; width: {{- size -}}%"
            src="/assets/images/OtherGameElements/presence_{{- colour | strip -}}.png"
    />
{%- endfor -%}
