---
layout: default
---
{%- include init.html -%}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <!-- Post links -->
  <h1 class="post-content">My Guides</h1>

  {% capture raw_names_with_tags %}
    {% for raw_tag in site.tags %}
      {% assign tag = raw_tag[0] %}
      {{site.data.abbreviations[tag].name}}@{{tag}};
    {% endfor %}
  {% endcapture %}
  {% assign names_with_tags = raw_names_with_tags | split:';' | sort %}

  {% assign sorted_posts = site.posts | sort: 'title' %}
  
  {% for name_with_tag in names_with_tags %}
    {% assign name_and_tag = name_with_tag | split:'@' %}
    {% assign name = name_and_tag[0] %}
    {% assign tag = name_and_tag[1] %}
    <h3> {{site.data.icons.spirits[tag].small}} {{ name }}</h3>
    <ul>
    {% for post in sorted_posts %}
      {% if post.categories contains "guide" and post.tags contains tag %}
        <li><a href="{{ post.url }}">{{ post.title | }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
  
  <!-- External Resources -->
  <h1 class="post-content">Other guides</h1>
  
  <ul>
    {% for entry in site.data.resources | sort %}
      {% if entry.items %}
        <li>{{ entry.author }}'s {{entry.type}} on {{entry.site}}:</li>
        <ul>
          {% for item in entry.items %}
            {% assign spirit_name = site.data.abbreviations[item.spirit].name %}
            <li><a href="{{ item.link }}">{{ spirit_name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <li><a href="{{entry.link}}">{{ entry.author }}'s {{entry.type}} on {{entry.site}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
  
  <!-- Latest posts -->
  
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    <h1>Latest posts</h1>
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {% assign tag = post.tags[0] %}
            [{{ site.data.abbreviations[tag].name }}] {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- Pagination links 
    {% if site.paginate %}
      <div class="pager">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
          </a>
        {% else %}
          <span class="previous"></span>
        {% endif %}
        <span class="page_number ">
          Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <span class="next "></span>
        {% endif %}
-->
      </div>
    {%- endif %}

  {%- endif -%}

</div>
