---
layout: default
---
{% assign s = site.data.icons.elements.sun %}
{% assign m = site.data.icons.elements.moon %}
{% assign f = site.data.icons.elements.fire %}
{% assign a = site.data.icons.elements.air %}
{% assign w = site.data.icons.elements.water %}
{% assign e = site.data.icons.elements.earth %}
{% assign p = site.data.icons.elements.plant %}
{% assign n = site.data.icons.elements.animal %}
{{s}}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% assign spirit_tag = page.tags[0] %}
    {% assign spirit_name1 = site.data.abbreviations[spirit_tag] %}
    {% assign spirit_name = site.data.abbreviations[page.tags[0]] %}
    ={{spirit_tag}} {{spirit_name1}} {{spirit_name}}
    <h1 class="post-title p-name" itemprop="name headline">[{{spirit_name}}] {{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
