---
layout: default
---
<link rel="stylesheet" href="/assets/css/post_styles.css">

{%- include init.html -%}

{% assign content = page.content %}
{% assign replaced_content = page.content %}
{% assign spirit_tag = page.tags[0] %}
{% assign spirit_name = site.data.abbreviations[spirit_tag].name %}
{% assign spirit_effects = site.data.abbreviations[spirit_tag].effects %}

{% assign spirit_board_img_filename_no_ext = spirit_tag | append: '_spirit_board' %}
{% capture spirit_board_img_filename %}{% include find_image.html filename=spirit_board_img_filename_no_ext %}{% endcapture %}
{% assign spirit_board_img = '<img class="board" src="/assets/images/' | append: spirit_board_img_filename | append: '"/>' %}

<!-- Replace [[...]] in content  -->
{% assign contentarray = content | split:'[[' %}
{% for item in contentarray %}
    {% if forloop.index > 1 %}
        {% assign itemparts = item | split:']]' %}
        {% assign link = itemparts[0] %}
        {% if forloop.index == 2 %}
            {% assign links = link %}
        {% else %}
            {% assign links = links | append: '|' | append: link %}
        {% endif %}
        {% assign fn = spirit_effects[link] %}
        {% unless fn %}
            {% assign fn = link %}
        {% endunless %}
        {% assign fn = fn | strip | replace: "’", "'" | capitalize %}
        {% capture url %}{% include find_image.html filename=fn %}{% endcapture %}
        {% if forloop.index == 2 %}
            {% assign urls = url %}
        {% else %}
            {% assign urls = urls | append: '|' | append: url %}
        {% endif %}
    {% endif %}
{% endfor %}
{% assign urlarray = urls | split:'|' %}
{% assign linkarray = links | split:'|' %}
{% for item in linkarray %}
    {% assign linktext = '<span class="spirit_effect_text">' | append: item | append: '<img class="spirit_effect_image" src="/assets/images/' | append: urlarray[forloop.index0] | append: '">' | append: '</span>' %}
    {% assign bracketlink = '[[' | append: item | append: ']]' %}
    {% assign replaced_content = replaced_content | replace: bracketlink,linktext %}
{% endfor %}
{% assign content = replaced_content | markdownify %}

<!-- Replace (((...))) in content  -->
{% assign contentarray = content | split:'(((' %}
{% for item in contentarray %}
    {% if forloop.index > 1 %}
        {% assign itemparts = item | split:')))' %}
        {% assign tracks = itemparts[0] %}
        {% if forloop.index == 2 %}
            {% assign all_tracks = tracks %}
        {% else %}
            {% assign all_tracks = all_tracks | append: '|' | append: tracks %}
        {% endif %}
    {% endif %}
{% endfor %}

{% assign all_tracks_array = all_tracks | split:'|' %}
{% for tracks_states in all_tracks_array %}

    {% assign board_div = '<div class="spirit_board_div">' | append: spirit_board_img %}

    {% assign track_states_array = tracks_states | split:'-' %}
    {% for num_uncovered in track_states_array %}
        {%- capture presence_tokens -%}
            {%- include presence_track.html spirit=spirit_tag track=forloop.index num_uncovered=num_uncovered -%}
        {%- endcapture -%}
        {% assign board_div = board_div | append: presence_tokens %}
    {% endfor %}

    {% assign board_div = board_div | append: '</div>' %}

    {% assign bracketlink = '(((' | append: tracks_states | append: ')))' %}
    {% assign replaced_content = replaced_content | replace: bracketlink, board_div %}
{% endfor %}
{% assign content = replaced_content | markdownify %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">[{{spirit_name}}] {{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
